{% extends "base.html" %}

{% block content %}
    <div class="hero-unit">
        <h1>Say hello to your child's online profile</h1>
        <p>Create your child's own profile</p>
        <p><a class="btn btn-primary btn-large" href="#features">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="span3">
            <h2>Create your child's profile in minutes</h2>
            <p>Like, in 59 minutes!</p>
            <p><a class="btn" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="span3">
            <h2>Your child's dream come true!</h2>
            <p>Yes, an online profile! Now he'll be the talk of his school!</p>
            <p><a class="btn" href="#">Oh my gaaaawd!!! &raquo;</a></p>
        </div>
        <div class="span3">
            <h2>Don't have children?</h2>
            <p>No worries, you can still participate!</p>
            <p><a class="btn" href="#">Dogs it is!! &raquo;</a></p>
        </div>
    </div>
    <hr class="soften">
    <h1 style="font-size: 40px; font-weight: 300; text-align: center; margin: 36px 0 27px;">Sample Children Profiles</h1>
    <p style="text-align: center; margin: -18px 0 27px; font-size: 18px; font-weight: 300; line-height: 24px; color: #999;">Ha! Look at these cuties!</p>
    <ul class="thumbnails example-sites">
    <li class="span3">
      <a class="thumbnail" href="http://soundready.fm/" target="_blank">
        <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/soundready.png" alt="SoundReady.fm">
      </a>
    </li>
    <li class="span3">
      <a class="thumbnail" href="http://www.fleetio.com/" target="_blank">
        <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png" alt="Fleetio">
      </a>
    </li>
    <li class="span3">
      <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
        <img src="http://twitter.github.com/bootstrap/assets/img/example-sites/jshint.png" alt="JS Hint">
      </a>
    </li>
  </ul>
    <hr class="soften">
{% endblock content %}
