{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Your Children</h1>
    <a href="{% url childapp.apps.children.views.index %}" class="btn btn-cancel">Back<a/>
    <a href="{% url childapp.apps.children.views.edit id=child.id %}" class="btn btn-primary">Edit</a>
    <br style="clear:both;">
</div>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>First Name</th>
        <td>{{ child.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{ child.last_name }}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{ child.gender }}</td>
    </tr>
    <tr>
        <th>Birthday</th>
        <td>{{ child.birthday }}</td>
    </tr>
    </tbody>
</table>
{% endblock content %}
